<ion-content>
  <app-page-container>
    <div class="home">
      <app-greeting-header [greeting]="greeting" [user]="home.user" />

      <app-continue-reading-card [reading]="home.reading" />
      <app-prayer-card [prayer]="home.prayer" />

      <app-quick-actions [actions]="home.quickActions" />
      <app-daily-verse-card [verse]="home.dailyVerse" />
      <app-recent-surahs [surahs]="home.recentSurahs" />
      <app-khatam-progress [progress]="home.khatam" />
    </div>
  </app-page-container>
</ion-content>
